* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

#inicio {
    position: relative;
    padding-top: 16%;
    padding-bottom: 10%;
    background-image: url(../img/fondo_banner.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
}

#inicio::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12%; /* Altura del difuminado */
    background: linear-gradient(to bottom, transparent, #0057CA);
    z-index: 1;
}

.texto_inicio{
    text-align: center;
    color: #ffffff;
    font-size: 3rem;
    font-weight: 700;
}

a{
    text-decoration: none;
}

.container-fluid.d-flex {
    flex-wrap: wrap;
}

.btn:hover {
    background-color: #0676ff !important;
}

.btn:hover i {
    color: #FFFFFF !important;
}

#sobre-mi{
    padding-top: 1%;
    padding-bottom: 5%;
    background-color: #0057CA;
    color: #ffffff;
}

#contenido-sobre-mi{
    font-size: 1.2rem;    
    
}

.typed-cursor {
    color: white; /* Color del cursor */
    font-size: 1.5rem; /* Tamaño del cursor */
}

#mis-habilidades{
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #ffffff;
}



/* Diseño de la galería de habilidades */
.grid-habilidades {
    padding-top: 2%;
    padding-bottom: 2%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
    justify-content: center;
    max-width: 800px;
    margin: auto;
}

/* Tarjeta de habilidad */
.habilidad {
    background-color: #0139C2; /* Color de fondo oscuro */
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.habilidad:hover {
    transform: scale(1.1);
}

/* Imágenes */
.habilidad img {
    width: 50px;
    height: 50px;
}

/* Texto de la habilidad */
.habilidad p {
    margin-top: 2%;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}

#habilidades{
    padding-top: 5%;
    padding-bottom: 5%;    
    color: #ffffff;
}

#contenido-habilidades {
    background-color: #001a5c;    
    border-radius: 12px;
    margin-top: 4%;    
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 60%; /* Ajusta este valor según el tamaño deseado */
    margin-left: auto;
    margin-right: auto;
    padding: 20px; /* Para dar espacio interno */
}

#proyectos {
    position: relative;
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: url(../img/fondo_banner.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
    color: #ffffff;
}

.proyecto-card {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.proyecto-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
#navbar .nav-link {
    color: white !important;
    
}
.navbar-toggler-icon {
    filter: invert(1); /* Convierte el ícono a blanco */
}

#footer{
    background-color: #001a5c;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff ;
}

/* FADE IMAGEN */

.img-fade {
    position: relative;
    display: inline-block;
}

.img-fade::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to bottom, transparent 0%, #014A9E 100%);
    pointer-events: none;
}

/* Efecto de desplazamiento y boton*/

.btn-flotante {
    position: fixed; /* Fijo en la pantalla */
    bottom: 20px; /* Distancia desde la parte inferior */
    right: 20px; /* Distancia desde la derecha */
    background-color: #014A9E; /* Color de fondo (ajusta al tuyo) */
    color: white; /* Color del texto/icono */
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Forma circular */
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    cursor: pointer;
    font-size: 20px;
    z-index: 1000; /* Para que esté por encima de otros elementos */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease; /* Efecto de transición al pasar el mouse */
}

.btn-flotante:hover {
    background-color: #013a7d; /* Color al pasar el mouse */
    transform: scale(1.1); /* Efecto de escala */
}

